<!Doctype html>
<html>


	<head>
		
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title> ShopsApp </title>
		
	</head>


	<body>
		Dashboard
		<article id='customers'></article>
		<article id='receipts'></article>
		<script type='module'>
			import { addToPage } from '../scripts/dash.js'
			import { customers, populateCustomersTable, getCustomers } from '../scripts/customers.js'
			
			document.customers = customers
			addToPage()
			getCustomers()
						
		</script>
	</body>


</html>