<!Doctype html>

<html>

  <head>
    
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title> ShopsApp </title>
    
  </head>


  <body>
    
    <article id='new-shop'></article>
    
    <script type='module'>
      
      import { addToPage, shop, nameInput, phoneInput, addressInput, submit } from '../scripts/new_shop.js'
      
      document.shop = shop
      document.nameInput = nameInput
      document.phoneInput = phoneInput
      document.addressInput = addressInput
      document.submit = submit
      addToPage()
      
    </script>
    
  </body>

</html>