<!Doctype html>
<html>

  <head>
    
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title> ShopsApp </title>
    
  <head>

  <body>
    
    <article id='new-receipt'> </article>
    
    <script type='module'>
    
      import { receipt, populateReceipt, submit, item1Input, price1Input, item2Input, price2Input, 
               item3Input, price3Input, notesInput, receiptTotal } from '../scripts/new-receipt.js'
    
      document.receipt = receipt
      document.submit = submit
      document.item1Input = item1Input
      document.price1Input = price1Input
      document.item2Input = item2Input
      document.price2Input = price2Input
      document.item3Input = item3Input
      document.price3Input = price3Input
      document.notesInput = notesInput
      populateReceipt()
      receiptTotal()
    
    </script>
    
  </body>

  


</html>