<!Doctype html>
<html>

  <head>
    
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title> ShopsApp </title>
    
  </head>

  <body>
    
    <article id='new-customer'></article>
    
    <script type='module'>
      
      import {customer, nameInput, phoneInput, emailInput, addressInput, submit, addToPage } from '../scripts/new-customer.js'
      
      document.customer = customer
      document.nameInput = nameInput 
      document.phoneInput = phoneInput
      document.emailInput = emailInput
      document.addressInput = addressInput
      document.submit = submit
      
      addToPage()
      
    </script>
    
  </body>



</html>